astroid==3.3.11
certifi==2025.7.14
charset-normalizer==3.4.2
configparser==7.2.0
dill==0.4.0
docopt==0.6.2
idna==3.10
isort==6.0.1
mccabe==0.7.0
mutagen==1.47.0
platformdirs==4.4.0
pylint==3.3.8
requests==2.32.4
sanitize-filename==1.2.0
tomlkit==0.13.3
urllib3==2.5.0
yarg==0.1.10
yt-dlp==2025.6.30
